body{
font-family:Arial;
background:#f2f2f2;
}

.container{
width:700px;
margin:30px auto;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
text-align:center;
}

input{
width:45%;
padding:10px;
margin:5px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px 20px;
cursor:pointer;
background:#007bff;
color:white;
border:none;
border-radius:5px;
}

button:hover{
background:#0056b3;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table,th,td{
border:1px solid #ddd;
}

th,td{
padding:10px;
text-align:center;
}